<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download file</title>
</head>
<body>

    <%  if(locals.filelink != null){ %>
        <div style="margin-bottom: 1rem;">
         Your file is uploaded

         <a href="<%= locals.filelink %> "> <%= locals.filelink  %> </a>


        </div>

        <% } %>

</body>
</html>